/* .App{
  font-family: 'Slabo 27px', serif;
} */
.title {
  font-family: 'Pacifico', cursive;
}

.login-header{
  font-family: 'Pacifico', cursive;
  font-size: 39px;
  color: white;
  margin-left: 116px;
  margin-top: -28px;
  margin-bottom: 7px;
}

.login{
  margin-left: 488px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(102, 51, 153,.9);
  width: 350px;
  height: 300px;
  border-radius: 8px;
}

.login-input{
  width: 250px;
  height: 20px;
  margin: 12px;
  margin-left: 42px;
  border-color: white;
  background-color: white;
  border-radius: 5px;
}

.login-submit{
    width: 261px;
    height: 24px;
    margin: 6px;
    margin-left: 42px;
    font-family: 'DM Sans', sans-serif;
    border-radius: 5px;
    padding-bottom: 10px;
    border-color: white;
    background-color: white;
    color: rebeccapurple;
    font-weight: bold;
}

.fav-heading-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorites{
  font-family: 'Pacifico', cursive;
  font-size: xxx-large;
  margin-left: 600px;

}

.fav-info{
  font-family: 'DM Sans', sans-serif;
  font-size: 21px;
  margin-left: 410px;
  margin-right: 200px;
  margin-top: -6px;
  margin-bottom: 46px;
}

.fav-info2{
  font-family: 'DM Sans', sans-serif;
  font-size: 21px;
  margin-left: 278px;
  margin-right: 200px;
  margin-top: -45px;
  margin-bottom: 46px;
}

.fav-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button{
  font-family: 'DM Sans', sans-serif;
  border-radius: 5px;
  margin:8px;
  padding: 4px;
  border-color: white;
  background-color: white;
  color: rebeccapurple;
}

.donate-link{
  color:white;
  font-family: 'DM Sans', sans-serif;
}

.amount{
  font-family: 'DM Sans', sans-serif;
  border-radius: 5px;
  padding: 2px;
  border-color: white;
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.welcome {
  font-family: 'Pacifico', cursive;
  font-size: xxx-large;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
  

.intro {
  font-family: 'DM Sans', sans-serif;
    font-size: x-large;
    margin-left: 155px;
    margin-right: 155px;
    margin-top: 16px;
    margin-bottom: 69px;

}

.charity-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.card-title{
  margin-top:35px;
}

.charity-card {
  background-color: rebeccapurple;
  color: whitesmoke;
  flex-direction: row;
  width: 300px;
  height: 275px;
  box-shadow: 0 6px 33px -4px black;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  overflow-wrap: anywhere;
  padding: 19px;
  margin: 13px;
  border-radius: 24px;
}

.favorite-card{
  background-color: rebeccapurple;
  color: whitesmoke;
  flex-direction: row;
  width: 300px;
  height: 375px;
  box-shadow: 0 6px 33px -4px black;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  overflow-wrap: anywhere;
  padding: 19px;
  margin: 13px;
  border-radius: 24px;

}

.total-header{
  font-size: large;
}

.donation-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.donations-card{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  background-color: rebeccapurple;
  color: whitesmoke;
  width: 300px;
  height: 350px;
  box-shadow: 0 6px 33px -4px black;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  overflow-wrap: anywhere;
  padding: 19px;
  margin: 13px;
  border-radius: 24px;
}

.no-donation-header{
  margin-top: 61px;
  font-size: larger;
}
