/* .App{
  font-family: 'Slabo 27px', serif;
} */
.title {
  font-family: 'Pacifico', cursive;
}

.fav-heading-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorites{
  font-family: 'Pacifico', cursive;
  font-size: xxx-large;
  margin-left: 600px;

}

.fav-info{
  font-family: 'DM Sans', sans-serif;
  font-size: 21px;
  margin-left: 410px;
  margin-right: 200px;
  margin-top: -6px;
  margin-bottom: 46px;
}

.fav-info2{
  font-family: 'DM Sans', sans-serif;
  font-size: 21px;
  margin-left: 278px;
  margin-right: 200px;
  margin-top: -45px;
  margin-bottom: 46px;
}

.fav-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button{
  font-family: 'DM Sans', sans-serif;
  border-radius: 5px;
  margin:8px;
  padding: 4px;
  border-color: white;
  background-color: white;
  color: rebeccapurple;
}

.amount{
  font-family: 'DM Sans', sans-serif;
  border-radius: 5px;
  padding: 2px;
  border-color: white;
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.welcome {
  font-family: 'Pacifico', cursive;
  font-size: xxx-large;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
  

.intro {
  font-family: 'DM Sans', sans-serif;
    font-size: x-large;
    margin-left: 155px;
    margin-right: 155px;
    margin-top: 16px;
    margin-bottom: 69px;

}

.charity-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.charity-card {
  background-color: rebeccapurple;
  color: whitesmoke;
  flex-direction: row;
  width: 300px;
  height: 350px;
  box-shadow: 0 6px 33px -4px black;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  overflow-wrap: anywhere;
  padding: 19px;
  margin: 13px;
  border-radius: 24px;
  
  
}
